* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 20px;  
    font-family: 'Philosopher', sans-serif;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }
  
  
  
  h1 {
    font-size: 22px;
    color: orange;
    text-align: center; 
    margin-bottom: 1%;
    padding-top: 10px; 
  }
  
  body {
    font-size: 14px;
    width: 100%;
    min-height: 100vh;   
    color: white;
    background: #181A1C;  
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    min-height: 80vh;
    width: 100%;
  }